<div class="header clearfix">
    <div class="container">
        <div class="row">
            <nav>
                <ul class="nav" id="mainMenu">
                    <li data-menuanchor="page1">
                        <a href="#page1">HOME</a>
                    </li>
                    <li data-menuanchor="page2">
                        <a href="#page2">CHI SIAMO</a>
                    </li>
                    <li data-menuanchor="page3">
                        <a href="#page3">SERVIZI</a>
                    </li>
                    <li data-menuanchor="page4">
                        <a href="#page4">PORTFOLIO</a>
                    </li>
                    <li data-menuanchor="page5">
                        <a href="#page5">CONTATTI</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>