@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $screen-sm) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $screen-sm + 1) and (max-width: $screen-lg - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $screen-lg) { @content; }
  }
}

@mixin apply-to($ltgt, $device) {
  $extrema: null;
  @if $ltgt == less-than {
    $extrema: max;
  }
  @if $ltgt == greater-than {
    $extrema: min
  }

  @media only screen and (#{$extrema}-width: $device) {
    @content;
  }

}